---
import { TransitionNames } from "../../models/keys";
import Nav from "./Nav.astro";
const name = "Pol Gubau Amores";
const { lang } = Astro.params;
import en from "../../translations/en.json";
---

<header class="flex gap-20 justify-between max-w-5xl px-8 pt-8 w-full">
  <div class="flex flex-col gap-4">
    <!-- Nav -->
    <Nav />
    <!-- Name and subtitle -->
    <div class="flex gap-10">
      <div class="flex flex-col justify-center">
        <h2 class="text-5xl font-black">{name}</h2>
        <h3 class="text-2xl">
          {en.subtitle}
        </h3>
      </div>
    </div>
  </div>
  <div
    class="relative grid place-items-center w-30 h-30 aspect-auto md:w-40 md:h-40"
  >
    <img
      transition:name={TransitionNames.PROFILEIMAGE}
      src="/images/me.webp"
      alt="Profile picture"
      class="rounded-full w-30 h-30 aspect-sqare sm:w-40 sm:h-40"
    />

    <div
      class="bg-primary transition-all dark:bg-primary-dark rounded-full top-[50%] left-[50%] absolute -z-10 transform -translate-x-1/2 -translate-y-1/2 w-full aspect-square"
    >
    </div>
  </div>
</header>
