---
import { Icon } from "astro-icon";
---

<footer>
  <div class="flex flex-col items-center justify-center gap-4 mb-32">
    <div class="flex gap-4">Pol Gubau Amores, 2023</div>
    <div class="flex gap-2">
      <a target="_blank" href="https://github.com/polgubau">
        <Icon name="mdi:github" class="w-8 h-8" /></a
      >
      <a target="_blank" href="https://www.linkedin.com/in/polgubauamores/">
        <Icon name="mdi:linkedin" class="w-8 h-8" /></a
      >
    </div>
  </div>
</footer>
