


<footer>
      <div class="flex flex-col items-center justify-center gap-4 mb-32">
        <div class="flex gap-4">
          Pol Gubau Amores, 2023
        </div>
        </div>
</footer>