---
import { TransitionNames } from "../models/keys";
import Nav from "../components/Header/Nav.astro";
import en from "../translations/en.json";
import { Image } from "astro:assets";
---

<header
  class="flex flex-col gap-2 justify-between max-w-5xl px-8 pt-8 w-full items-center sm:items-start">
  <!-- Nav -->

  <div
    class="flex justify-between w-full flex-col-reverse sm:flex-row items-center sm:items-start gap-4">
    <!-- Name and subtitle -->

    <div class="flex flex-col gap-4 w-full items-center sm:items-start">
      <Nav />

      <div class="flex flex-col justify-center text-center sm:text-start">
        <h1 class="text-4xl md:text-5xl font-black">
          {en.name}
        </h1>
        <h2
          class="text-xl md:text-2xl"
          style={{
            textWrap: "balance",
          }}>
          {en.subtitle}
        </h2>
      </div>
    </div>

    <!-- Image -->
    <div
      class="flex w-32 h-32 justify-end aspect-square md:w-40 md:h-40 bg-primary rounded-full items-center sm:items-start"
      transition:name={TransitionNames.PROFILEIMAGE}>
      <Image
        width={160}
        height={160}
        aria-describedby={"Profile picture of " + en.name}
        src="/images/me.webp"
        alt="Profile picture"
        class="rounded-full w-full h-full aspect-sqare"
      />
    </div>
  </div>
</header>
